[submodule "Armed/vendor/yaml"]
	path = Armed/vendor/yaml
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "Armed/vendor/yaml-cpp"]
	path = Armed/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "Armed/vendor/gem"]
	path = Armed/vendor/gem
	url = https://github.com/Himanshu-Kumar-04/gem.git
